[submodule "SwifterSwift"]
	path = Third party/SwifterSwift
	url = https://github.com/SwifterSwift/SwifterSwift.git
[submodule "merchantkit"]
	path = Third party/merchantkit
	url = https://github.com/benjaminmayo/merchantkit.git
[submodule "SVProgressHUD"]
	path = Third party/SVProgressHUD
	url = https://github.com/SVProgressHUD/SVProgressHUD.git
[submodule "purchases-ios"]
	path = Third party/purchases-ios
	url = https://github.com/RevenueCat/purchases-ios
[submodule "SwiftyStoreKit"]
	path = Third party/SwiftyStoreKit
	url = https://github.com/bizz84/SwiftyStoreKit
[submodule "Third party/purchases-ios"]
	path = Third party/purchases-ios
	url = https://github.com/RevenueCat/purchases-ios.git
