[submodule "SwifterSwift"]
	path = SwifterSwift
	url = https://github.com/SwifterSwift/SwifterSwift.git
[submodule "merchantkit"]
	path = merchantkit
	url = https://github.com/benjaminmayo/merchantkit.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/SVProgressHUD/SVProgressHUD.git
[submodule "purchases-ios"]
	path = purchases-ios
	url = https://github.com/RevenueCat/purchases-ios
[submodule "SwiftyStoreKit"]
	path = SwiftyStoreKit
	url = https://github.com/Pimine/SwiftyStoreKit
	branch = master